extends layout

block content
  h1= title
  h2 Usage:
  
  p The Api format is https://playground-cluk3.c9users.io/isa/
    strong QUERY
    |[?offset=
    strong OFFSET_NUMBER
    |]
  p Go to 
    a(href="/isa/search/latest") https://playground-cluk3.c9users.io/isa/search/latest
    |  for the latest 10 search queries.
  
  